

/*  Navbar.html */
#img{
    border-radius:50%;
    position:center;
    padding: 10px;
}
.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:2.5rem;
}

/*  movies.html */

.card{
    padding:10px;
    margin-bottom: 20px;
}
.card-body h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2rem;
}

/*  profile.html */

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn2 {
    padding: 20px;
}
.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}